<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>&#960;Flicks</title>

  <link rel="stylesheet" href="static/bootstrap.min.css">
  <script type="text/javascript" src="static/jquery.min.js"></script>
  <style type="text/css">
  	a.custom-link:hover {
  		text-decoration: none
  	}
  </style>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="jumbotron" style="background-color:#b84d45 !important; color:#ffe; padding-top:0px;">
      <div class="container">
        <a class="custom-link" href="/"><h1 style="color:#ffe; margin-top:25px; margin-bottom:5px">&#960;Flicks<sup>&beta;</sup></h1></a>
        <h3 style="margin-top:4px; margin-bottom:2px">Using maths to discover entertainment</h3>
      </div>
    </div>

    <div class="container">
      <div class="row">
      	<ul class="list-group text-center">
      	{% for i in preds %}
		  <a href="http://www.imdb.com/title/tt{{i[4]}}/" class="list-group-item"><h4>{{i[2]}}</h4><span class="label label-success">{{i[3]}}</span></a>
		{% endfor %}
		</ul>
      </div>

      <br/>
      <hr>

      <footer>
        <center>&copy; <a href="https://vikasrtr.github.io">Vikas Raturi</a> 2014</center>
      </footer>
    </div> <!-- /container -->
</body>
</html>
